body {
    padding-bottom: 200px;
    background-image: url(/images/journey.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 2rem;
    text-align: center;
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 10px;
   
}

p {
    color: #A2C899;
    opacity: 1;
}

.hello {
    color: lightgreen ;
}
.welcome {
    padding-top: 0px ;
    color: #FFFDD0;
}

.nav-link:hover {
    background-color: #208A20;
    opacity: .7;
}
.nav-link {
    
}
.navbar-nav>li {
    margin-left: 30px;
    margin-right: 30px;
}

.top {
    margin-left: 10px;
    margin-top: 50px;
}

/* Who Am I styling */

.hello2 {
    color: lightgreen;
}

/* Contact me Page */
.forms {
    display: flex;
    justify-content: center;
}
label, legend {
    color: white;
}
form{
    padding-top: 100px;
    height: 80%;
    width: 90%;
}

/* Portfolio and whackamole styling */
.projectname {
    color: #FFDB58;
}
.linkprojbutton {
    color: #FFD580;
}


